In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_data = {'col1':[1, 1, 2, 3, 4, 4, 6, 6],
            'col2':['a', 'b', 'b', 'b', 'c', 'c', 'b', 'b']}
table = pd.DataFrame(data=raw_data)
table

   col1 col2
0     1    a
1     1    b
2     2    b
3     3    b
4     4    c
5     4    c
6     6    b
7     6    b

### 第一筆除外

In [3]:
table.duplicated(keep='first')

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [4]:
table.drop_duplicates(keep='first')

   col1 col2
0     1    a
1     1    b
2     2    b
3     3    b
4     4    c
6     6    b

### 最後一筆除外

In [5]:
table.duplicated(keep='last')

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
dtype: bool

In [6]:
table.drop_duplicates(keep='last')

   col1 col2
0     1    a
1     1    b
2     2    b
3     3    b
5     4    c
7     6    b

### 一律標記

In [7]:
table.duplicated(keep=False)

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
dtype: bool

In [8]:
table.drop_duplicates(keep=False)

   col1 col2
0     1    a
1     1    b
2     2    b
3     3    b